<div class="bottom-area">
    <h2>Phase ||</h2>
    <h2>AI implementation plan: make it real (30 days)</h2>
    <ul>
        <p>As part of the challenge you will:</p>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    </ul>
    <h2>Phase |||</h2>
    <h2>Ongoing implementation support(180 days)</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>
