<td align="center" bgcolor="#ffffff" class="main-section-no-padd" style="padding:25px 0px 25px 30px;" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
      <tbody>
        <tr>
          <td bgcolor="#ffffff" class="mob_view-b" style="padding-right:0px;" valign="top" width="50%">
          <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
            <tbody>
              <tr>
                <td align="left" style="padding:0; font-size:23px; font-family:Arial,Helvetica, sans-serif; color:#0080c8; line-height:28px;padding-bottom:10px;"><b>Why Learn Digital Strategies for Business?</b></td>
              </tr>
              <tr>
                <td align="left" class="mob_view-b" style="font-size:16px; font-family:Arial,Helvetica, sans-serif; color: #272525;line-height:23px;">This course focuses on how managers can innovate new strategies and business models to enable their organization to thrive in the digital age. Case studies will feature both digital trailblazers as well as traditional enterprises that are adapting to the digital age.</td>
              </tr>
            </tbody>
          </table>
          </td>
          <td bgcolor="#ffffff" class="mob_view no-padding" style="padding:0 20px 0px 20px;" valign="top" width="50%">
          <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" style="" width="100%">
            <tbody>
              <tr>
                <td align="center" bgcolor="#df6c4b" style="padding: 15px;" valign="top">
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" style="font-size:16px; color:#ffffff;font-family: Arial,Helvetica,sans-serif;line-height:22px;font-weight:700;">Program details</td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#0080c8" class="mob_view no-padding" valign="top" width="100%">
                <table bgcolor="#0080c8" border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" bgcolor="#0080c8" style="padding:10px 2px;" valign="middle">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td align="center" valign="top" width="50">
                              <img src="assets/images/drive.png">
                            </td>
                            <td align="left" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="left" valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                      <tr>
                                        <td align="left" style="font-size:14px; font-family:Arial,Helvetica, sans-serif;color: #ffffff;">STARTS ON</td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-size:14px; font-family:Arial,Helvetica, sans-serif;color: #ffffff;line-height:20px;"><b>17 March 2020</b></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#0080c8" class="mob_view no-padding" style="border-top:2px solid #ffffff;border-bottom:2px solid #ffffff;" valign="top" width="100%">
                <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" bgcolor="#0080c8" style="padding:10px 2px;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td align="center" valign="top" width="50">
                              <img src="assets/images/clock.png">
                            </td>
                            <td align="left" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="left" valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                      <tr>
                                        <td align="left" style="font-size:14px; font-family:Arial,Helvetica, sans-serif;color: #ffffff;">DURATION</td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-size:14px; font-family:Arial,Helvetica, sans-serif;color: #ffffff;line-height:20px;"><b>3 Months, Online<br>
                                        2-4 hours per week</b></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#0080c8" class="mob_view no-padding" valign="top" width="100%">
                <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" bgcolor="#0080c8" style="padding:10px 2px;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td align="center" valign="top" width="50">
                              <img src="assets/images/dollar.png">
                            </td>
                            <td align="left" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="left" valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                      <tr>
                                        <td align="left" style="font-size:14px; font-family:Arial,Helvetica, sans-serif;color: #ffffff;">PROGRAM FEES</td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-size:14px; font-family:Arial,Helvetica, sans-serif;color: #ffffff;line-height:20px;"><b>USD 1,500</b></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
              <tr>
                <td align="center" class="no-padd" style="padding:0 15px 15px 15px;background: #0080c8;" valign="top">
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" style="background: #df6c4b;text-align: center;border-radius: 0px;">
                        <a href="#" style="background: #df6c4b;border: 1px solid #df6c4b;font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 14px;text-decoration: none;padding: 10px 20px;color: #ffffff;display: block;border-radius: 0px;font-weight: bold;">
                          APPLY NOW
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
    </td>


    <style type="text/css">
        @media screen and (max-width: 525px) {
    
          .mob_view-a{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
          }
          .mob_view{
            width: 100%;
            display: block;
                text-align: center;
          }
          .logo img {
            margin: 0 auto;
          }
          .responsive-table {
            width: 100%;
          }
          .no-padding {
            padding: 0 !important;
          } 
          .main-section-no-padd{
            padding:30px 15px 30px 15px !important;
          }
    
          .mob_view-b{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 2px;
          }
    
        }
      </style>
