<td align="center" bgcolor="#f3f3f3" style="padding:30px 30px 30px 30px;" width="100%">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" class="mob_view-a" style="padding:0 15px 0 0;" valign="top" width="32%">
          <table border="0" cellpadding="0" cellspacing="0" style="background-color:#f3f3f3;" valign="top" width="100%">
            <tbody>
              <tr>
                <td align="center" style="font-family:Arial, Helvetica,sans-serif;color:#272525;font-size:20px;height:61px; padding-bottom:20px;" valign="middle" class="">
                  <img alt="" src="assets/images/statis1.png" style="max-width: 100%;display: block;border:0;" title=""></td>
              </tr>
              <tr>
                <td align="center" style="font-family:Arial, Helvetica,sans-serif; color:#0080c8;font-size:23px; font-weight:600; padding-bottom:5px;" valign="top" width="100%">25%</td>
              </tr>
              <tr>
                <td style="font-size:12px;  font-weight:400; color:#000000; font-family: Arial,Helvetica, sans-serif;background-color:#f3f3f3; text-align:center;line-height:18px;" width="100%">of the world economy will be digital by 2020.</td>
              </tr>
              <tr>
                <td align="center" style="color:#888c8d;font-size:10px; padding:5px 0;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;" width="100%">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" style="color:#888c8d;font-size:10px;padding:0px 0px 0 0px; text-transform:uppercase; font-family:Arial,Helvetica,sans-serif;line-height:14px;" width="100%">SOURCE: DIGITAL ECONOMIC VALUE INDEX</td>
              </tr>
            </tbody>
          </table>
          </td>
          <td class="mob_view-a" style="padding: 0 10px;" valign="top" width="34%">
          <table border="0" cellpadding="0" cellspacing="0" style="background-color:#f3f3f3;" valign="top" width="100%">
            <tbody>
              <tr>
                <td align="center" style="font-family:Arial, Helvetica,sans-serif;color:#272525;font-size:20px;height:61px; padding-bottom:20px;" valign="middle" class="">
                  <img alt="" src="assets/images/statis2.png" style="max-width: 100%;display: block;border:0;" title=""></td>
              </tr>
              <tr>
                <td align="center"  style="font-family:Arial, Helvetica,sans-serif; color:#0080c8;font-size:23px;font-weight:600; padding-bottom:5px;" valign="top" width="100%">40%</td>
              </tr>
              <tr>
                <td align="left" style="font-size:12px;  font-weight:400; color:#000000; font-family: Arial,Helvetica,  sans-serif;background-color:#f3f3f3; text-align:center; ;line-height:18px;" width="100%">year-on-year growth for the digital marketing industry compared to 5-6% growth in other industries.</td>
              </tr>
              <tr>
                <td align="center" style="color:#888c8d;font-size:10px; padding:5px 0;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;" width="100%">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" style="color:#888c8d;font-size:10px;padding:0px 0px 0 0px; text-transform:uppercase; font-family:Arial,Helvetica,sans-serif;line-height:14px;" width="100%">SOURCE: YOURSTORY &amp; KSTART</td>
              </tr>
            </tbody>
          </table>
          </td>
          <td align="center" class="mob_view-a no-padding" style="padding: 0px 0px 0px 15px;" valign="top" width="34%">
          <table border="0" cellpadding="0" cellspacing="0" style="background-color:#f3f3f3;padding-left:12px;" valign="top" width="100%">
            <tbody>
              <tr>
                <td align="center" style="font-family:Arial, Helvetica,sans-serif;color:#272525;font-size:20px;height:61px; padding-bottom:20px;" valign="middle" class="">
                  <img alt="" src="assets/images/statis3.png" style="max-width: 100%;display: block;border:0;" title="">
                </td>
              </tr>
              <tr>
                <td align="center" style="font-family:Arial, Helvetica,sans-serif; color:#0080c8;font-size:23px; font-weight:600; padding-bottom:5px;" valign="top" width="100%">$335.5 Bn</td>
              </tr>
              <tr>
                <td align="center" style="font-size:12px;  font-weight:400; color:#000000; font-family: Arial,Helvetica,  sans-serif; background-color:#f3f3f3; text-align:center; ;line-height:18px;" width="100%">worldwide digital advertising expenditure by 2020.</td>
              </tr>
              <tr>
                <td align="center" style="color:#888c8d;font-size:10px; padding:5px 0;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;" width="100%">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" style="color:#888c8d;font-size:10px;padding:0px 0px 0 0px; text-transform:uppercase; font-family:Arial,Helvetica,sans-serif;line-height:14px;" width="100%">SOURCE: STATISTA</td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
    </td>


    <style type="text/css">
        @media screen and (max-width: 525px) {
    
          .mob_view-a{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
          }
          .mob_view{
            width: 100%;
            display: block;
                text-align: center;
          }
          .logo img {
            margin: 0 auto;
          }
          .responsive-table {
            width: 100%;
          }
          .no-padding {
            padding: 0 !important;
          } 
          .main-section-no-padd{
            padding:30px 15px 30px 15px !important;
          }
    
          .mob_view-b{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 2px;
          }
    
        }
      </style>
