<td align="center" bgcolor="#0080c8" style="padding:25px 15px 35px 15px;" width="600">
    <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
      <tbody>
        <tr>
          <td align="center" style="font-size:18px; font-family:Arial,Helvetica, sans-serif; color:#ffffff; line-height:28px;font-size:18px;">Early applications encouraged. Seats fill up quickly!</td>
        </tr>
        <tr>
          <td align="center" class="padding" style="padding-top: 0px; font-size:14px; font-family:Arial,Helvetica, sans-serif; color:#ffffff; line-height:24px;font-size:16px;">mob_view-aible payment options starting from USD 599 available now.<br>
          Get in touch with your Programme Advisor to know more.</td>
        </tr>
        <tr>
          <td bgcolor="#0080c8" style="padding:30px 30px 0px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" style=" font-family:Arial,Helvetica, sans-serif;" width="100%">
            <tbody>
              <tr>
                <td align="center" bgcolor="#0080c8" width="100%">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td class="button-td button-td-primary" style="border-radius: 0px; background:#ffffff;">
                        <a class="button-a button-a-primary" href="#" style="background:#ffffff; border: 1px solid #ffffff; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none;text-align:center; padding: 16px 20px; color:#0080c8; font-weight: bold; display: block; border-radius: 0px;">
                          APPLY NOW
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
    </td>


    <style type="text/css">
        @media screen and (max-width: 768px) {
    
          .mob_view-a{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
          }
          .mob_view{
            width: 100%;
            display: block;
                text-align: center;
          }
          .logo img {
            margin: 0 auto;
          }
          .responsive-table {
            width: 100%;
          }
          .no-padding {
            padding: 0 !important;
          } 
          .main-section-no-padd{
            padding:30px 15px 30px 15px !important;
          }
    
          .mob_view-b{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 2px;
          }
    
        }
      </style>