<tr>
    <td align="center" bgcolor="#ffffff" class="section-padding" style="padding: 30px 30px 30px 30px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
      <tbody>
        <tr>
          <td><!-- COPY -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td align="center" class="padding" style="font-size:22px; font-family:Arial,Helvetica, sans-serif; color:#0080c8;padding: 20px 0px 16px 0px;"><b>Faculty</b></td>
              </tr>
              <tr>
                <td style="padding:0;" valign="top"><!-- HERO IMAGE -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" style="padding:0;" valign="top" class=""><img alt="David Rogers" border="0" src="assets/images/faculty.png" style="max-width:100%; display:block; border:0;" title="David Rogers"></td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
              <tr>
                <td align="center"  style="font-size:18px; font-family:Arial,Helvetica, sans-serif; color:#0080c8;padding-top:15px; line-height:28px;"><b>David Rogers</b></td>
              </tr>
              <tr>
                <td align="center" style="font-size:16px; font-family:Arial,Helvetica, sans-serif; color:#272525; line-height:26px; font-weight:bold;">Faculty of Executive Education, Columbia Business School</td>
              </tr>
              <tr>
                <td align="left"  style="font-size:16px; font-family:Arial,Helvetica, sans-serif; color:#272525;padding:10px 0 0px 0;font-weight:normal;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="text-left">
                  <tbody>
                    <tr>
                      <td align="center" style="font-size:16px;font-family:Arial,Helvetica, sans-serif;color:#0080c8; line-height:24px;" valign="top" class="">●</td>
                      <td align="left"  style="font-size:16px; font-family:Arial,Helvetica, sans-serif; color:#272525;font-weight:normal; padding-left:15px; line-height:26px;" valign="middle">Globally-recognized leader on brands and digital business strategy.</td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
              <tr>
                <td align="left" class="spacing" style="font-size:16px; font-family:Arial,Helvetica, sans-serif; color:#272525;padding:10px 0 0px 0;font-weight:normal;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="text-left">
                  <tbody>
                    <tr>
                      <td align="center" style="font-size:16px;font-family:Arial,Helvetica, sans-serif;color:#0080c8; line-height:24px;" valign="top" class="">●</td>
                      <td align="left"  style="font-size:16px; font-family:Arial,Helvetica, sans-serif; color:#272525; font-weight:normal; padding-left:15px; line-height:26px;" valign="middle">Author of four books, including '<em>The Network Is Your Customer'</em>, and&nbsp; '<em>The Digital Transformation Playbook: Rethink Your Business to Adapt and Thrive in the Digital Age'</em>.</td>
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
    </td>
  </tr>

  <tr>
    <td bgcolor="#ffffff" style="padding:0px 30px 40px 30px;">
    <table border="0" cellpadding="0" cellspacing="0" style=" font-family:Arial,Helvetica, sans-serif;" width="100%">
      <tbody>
        <tr>
          <td align="center" bgcolor="#ffffff" width="100%">
          <table align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="button-td button-td-primary" style="border-radius: 0px; background:#0080c8;"><a class="button-a button-a-primary" href="#" style="background:#0080c8; border: 1px solid #0080c8; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none;text-align:center; padding: 16px 20px; color: #ffffff; font-weight: bold; display: block; border-radius: 0px;" target="_blank">LEARN MORE</a></td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
    </td>
  </tr>

  <style type="text/css">
    @media screen and (max-width: 525px) {

      .mob_view-a{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
      }
      .mob_view{
        width: 100%;
        display: block;
            text-align: center;
      }
      .logo img {
        margin: 0 auto;
      }
      .responsive-table {
        width: 100%;
      }
      .no-padding {
        padding: 0 !important;
      } 
      .main-section-no-padd{
        padding:30px 15px 30px 15px !important;
      }

      .mob_view-b{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 2px;
      }

    }
  </style>
