

<div class="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="landing-page-a">
                    <h1>What You Learn</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <app-left-column></app-left-column>
            </div>

            <div class="col-md-6">
                <app-right-column></app-right-column>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-bottom-area></app-bottom-area>
            </div>
        </div>

    </div>
</div>
