
    <td align="center" style="background-color:#fff;" valign="top" width="600">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="90%">
      <tbody>
        <tr>
          <td align="left" class="mob_view logo" style="background-color:#fff;padding-top:10px;" valign="top" width="50%">
              <img src="assets/images/eme_new_mailer_logo.png">
          </td>
          <td align="right" class="mob_view logo" style="background-color:#fff;" valign="top" width="50%">
              <img src="assets/images/columbia_logo_new.png"> 
          </td>
        </tr>
      </tbody>
    </table>
    </td>


<style type="text/css">
    @media screen and (max-width: 525px) {

	  .mob_view-a{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
      }
      .mob_view{
        width: 100%;
        display: block;
		    text-align: center;
      }
      .logo img {
        margin: 0 auto !important;
      }
      .responsive-table {
        width: 100%;
      }
      .no-padding {
        padding: 0 !important;
      } 
      .main-section-no-padd{
        padding:30px 15px 30px 15px !important;
      }

      .mob_view-b{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 2px;
      }

    }
  </style>